.header {
  position: relative;
  height: 280px;
  width: 100%;
  background-color: var(--primary-color);
}

.header__container {
  width: 90%;
  height: 100%;
  padding: 45px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header__btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header__back:hover {
  color: var(--text);
}

.header__title {
  margin-top: 25px;
  font-size: 3rem;
  color: var(--text);
}

.header__teacher {
  color: var(--text);
}

.header__svg {
  position: absolute;
  bottom: -1px;
}

/*Main*/
.main {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.classroom {
  width: 350px;
  height: 500px;
  position: relative;
}

.classroom__card {
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  top: -35px;
  background-color: var(--text);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.reference {
  width: 95%;
  height: 480px;
  border-radius: 12px;
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px; */
  background-color: var(--text);
  overflow-y: auto;
  padding: 15px;
  /* opacity: 0.9;
  overflow-y: auto;
  padding: 15px; */
}

.view2,
.view3,
.view4 {
  display: none;
}

.classroom__btn {
  width: 90%;
  height: 100%;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
}

/*View 1*/
details {
  width: 100%;
  margin: 1rem 0 0;
  background-color: #e7e7e7;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

details:not([open]) {
  animation-name: fold-in;
  animation-duration: 0.2s;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 1.5rem;
  color: var(--primary-color);
}

summary::-webkit-details-marker,
summary::marker {
  content: "";
  display: none;
}

summary::after {
  content: "+";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  margin-right: 1rem;
  cursor: pointer;
}

.content {
  color: var(--primary-color);
  padding: 0 1.5rem 1.5rem;
}

details[open] summary::after {
  content: "-";
}

details[open] .content {
  animation-name: fold-out;
  animation-duration: 0.2s;
}

@keyframes fold-out {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fold-in {
  0% {
    padding-bottom: 1rem;
  }

  100% {
    padding-bottom: 0;
  }
}

/*View 2*/

.cards__view2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.card__usuario {
  width: 336px;
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
  border-radius: 12px;
}

.card__img {
  object-fit: cover;
  border-radius: 50%;
}

.card__title {
  color: var(--primary-color);
}

/*View 3*/

div.table-title {
  display: block;
  margin: auto;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Roboto", helvetica, arial, sans-serif; */
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  /* max-width: 600px; */
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*View 4*/

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8b8e98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type="number"] {
  -moz-appearance: textfield;
}
